html {
	overflow-y: scroll;
	position: relative;
	height: 100% !important;
	font-size: 17px;
}


body {
	display: flex !important;
	flex-direction: column !important;
	height: 100% !important;
}


header {
	border-bottom: solid 1px #ccc;
	background-color: #eee;

	> div {
		padding: 1rem 0;
	}
}


footer {
	border-top: solid 1px #ccc;
	margin-top: auto !important;
	background-color: #eee;

	> div {
		padding: 1rem 0;
	}
}


#page_body {
	margin: 1rem 0 3rem 0;
}
