<ul class="nav navbar-nav">
	<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
	<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
	<li><a asp-controller="Home" asp-action="Checkout"><i class="fa fa-crosshairs"></i> Checkout</a></li>
	<li><a asp-controller="Cart" asp-action="Details"><i class="fa fa-shopping-cart"></i> Cart</a></li>
</ul>