<ul class="nav navbar-nav">
	<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
	<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
	<li><a href="@Url.Action("Checkout")"><i class="fa fa-crosshairs"></i> Checkout</a></li>
	<li><a href="@Url.Action("Cart")"><i class="fa fa-shopping-cart"></i> Cart</a></li>
</ul>